h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
    background-color: #42466C
}

.post-text {
    font-size: 24px;
}
 
/* header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}  */

nav {

    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}

body{
    background-color: #DDE0FF;
   font-family: "Anonymous Pro";
}

.site{
    margin-top: 40px;
    background-color: #42466C;
    border-radius: 50px;
    padding:25px;
    color: white;
    margin-bottom: 40px;
}

img {
    height: 200px;
    width: 400px;
}

a{
    background-color: #587099;
    font-size: 20px;
    padding: 10px;
    border-radius:25px;
    text-decoration: none;
    color:white;
}

footer {
    background-color: #42466C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 30px 20px 45px;
    margin:30px;
    color:white;
}
